* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

body {
    background: rgb(31, 30, 30);
}

header h1 {
    font-size: 60px;
    text-align: center;
    font-style: italic;
}

.container {
    width: 70%;
    margin: 2.5rem auto;
    padding: 1rem 0;   
    text-align: center;
}

.container h2 {
    font-size: 32px;
    margin: 1rem 0;
}

.movie_info, .movie_sub_info {
    width: 30%;
    margin: .5rem auto;
    display: flex;
    justify-content: space-around;
}
